#about-us .about-us-title {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2487ce;
    text-align: center;
    padding-top: 15px;
}

#about-us .about-us-description {
    letter-spacing: 0.6px;
}

#about-us .about-us-pointers {
    margin: 30px 0 50px 0;
}

#about-us .about-us-pointers ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    font-family: roboto-medium;
    font-size: 18px;
}

#about-us .about-us-pointers ul li {
    line-height: 30px;
}

#about-us .about-us-pointers .fa-check {
    margin: 0 15px;
    color: #ff8484;
}

#about-us .about-us-contact {
    margin: 30px;
    margin-bottom: 50px;
}

#about-us .about-us-contact .about-us-contact-title {
    color: #ff8484;
}

#about-us .about-us-contact .about-us-contact-title h4 {
    margin: 10px 0 5px 0;
    font-size: 20px;
}

#about-us .about-us-contact td {
    height: 50px;
    min-width: 100px;
}

#about-us .about-us-contact .tab-info {
    color: #2487ce;
}