#contact-us {
    .contact-us-title {
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #2487ce;
        text-align: center;
        padding-top: 15px;
    }
    .contact-us-form {
        margin-top: 60px;
    }
    .contact-us-form-element {
        min-height: 70px;
        margin-right: 50px;
        label {
            margin-bottom: 12px;
        }
        &.button-margin {
            margin-top: 30px;
        }
        &.checkbox-margin {
            min-height: 18px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}