#details {
    font-family: roboto-regular;
    .product-details {
        .product-title-header {
            font-size: 18px;
            font-family: roboto-bold;
            color: #ff8484;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .product-title-price {
            margin-top: 15px;
            color: #111;
            font-style: italic;
        }
        .proct-add-to-cart-cntr {
            margin-top: 15px;
        }
        .product-description {
            .product-description-title {
                margin-top: 15px;
                font-family: roboto-bold;
                font-size: 18px;
                color: #2487ce;
            }
            .product-description-details {
                margin-top: 15px;
                line-height: 24px;
            }
        }
    }
    .product-image-cntr img {
        height: 450px;
        width: 450px;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-right: 30px;
        margin-bottom: 100px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
}