.bgimg-1,
.bgimg-2 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../assets/images/parallax1.jpeg");
    min-height: 745px;
}

.bgimg-2 {
    background-image: url("../assets/images/parallax2.jpeg");
    min-height: 745px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #111;
}

main#home {
    background-color: #f3f5fa;
    min-height: 400px;
    padding-top: 0;
}

main#home #banner-area {
    width: 100%;
    height: 300px;
    background-color: white;
}

main#home .product-title {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2487ce;
    text-align: center;
    padding-top: 15px;
}

main#home .product-area {
    width: 100%;
    height: 370px;
}

main#home .product-area .go-to-products {
    float: left;
    height: 300px;
    width: auto;
    margin: 25px 0;
}

main#home .product-area .go-to-products .fa {
    font-size: 50px;
    color: #2487ce;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.5;
}

main#home .product-area .go-to-products .fa:hover {
    transform: scale(1.2);
    opacity: 1;
}

main#home .product-area .product-card {
    float: left;
    background-color: white;
    margin: 20px;
    height: 300px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

main#home .product-area .product-card .product-image {
    height: 65%;
    width: 100%;
}

main#home .product-area .product-card .product-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main#home .product-area .product-card .product-description {
    padding: 25px;
    padding-top: 10px;
}

main#home .product-area .product-card .product-description .product-details {
    margin-left: 15px;
}

main#home .product-area .product-card .product-description .product-name {
    font-size: 16px;
    font-family: Roboto-Medium;
    line-height: 1.5;
    margin-bottom: 5px;
}

main#home .product-area .product-card .product-description .fa {
    font-size: 28px;
    color: #ff8484;
    margin-top: 15px;
}

main#home .product-area .product-card .product-description .name {
    line-height: 1.5;
    font-size: 14px;
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.4509803922);
}

main#home .product-area .product-card .product-description .value {
    line-height: 1.5;
    font-size: 14px;
    color: #ff8484;
    font-style: italic;
}

main#home .product-area .product-card:hover {
    transform: scale(1.2);
}